body {
  background-color: #16161D;
}

.container {
  color: #fff;
}
.container .article:nth-of-type(1) > p:first-letter {
  font-size: 2rem;
  font-weight: bold;
  color: #5304A3;
}
.container [target=_blank] {
  text-decoration: none;
  color: #bebebe;
}
.container h1 {
  text-align: center;
  color: #bebebe;
  background-color: #181818;
}

.facts {
  justify-content: space-between;
  margin-top: 40px;
}

.row {
  margin: 40px;
  justify-content: center;
}

.carousel {
  margin: 10px 0 10px 0;
  box-shadow: 0px 0px 50px 10px #5304A3, 0px 0px 5px 10px #747474;
  background-color: #16161D;
}

footer {
  color: #fff;
}

.card {
  box-shadow: 0px 0px 50px 10px #5304A3, 0px 0px 5px 10px #747474;
  background-color: #16161D;
  margin-top: 15px;
}

.card-img-top {
  margin-top: 10px;
}

.nav-link {
  margin: 5px;
  font-weight: bold;
  color: #d8d8d8;
}

.nav-pills .nav-link.active {
  background-color: #5304A3;
  color: #d8d8d8;
}

.nav-link:hover {
  color: #5304A3;
}

